<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD aplicación</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <!-- Usamos los nombres de las urls en lugar de la dirección directamente. Los nombres los podemos ver en el archivo urls.py, en el atributo name de cada url -->
            <a href="{% url 'tareas' %}">Tareas Pendientes</a>
        </li>
        <li>
            <a href="{%url 'tareasCompletadas' %}">Tareas Completadas</a>
        </li>
        <li>
            <a href="{% url 'tareaNueva' %}">Crear nueva tarea</a>
        </li>
        {% endif %}

        <!-- * Esto es para que la pestaña de logout solo aparezca cuando el usuario está registrado. Al usar el User en views, se crea un objeto user que es global, y tiene esa variable is_authenticated, que nos permite verificar si está o no autenticado -->
        {% if user.is_authenticated %}
            <li>
                <a href="/logout">Logout</a>
            </li>
        {% else %}
            <li>
                <a href="/signup">Registro</a>
            </li>
            <li>
                <a href="/signin">Iniciar sesión</a>
            </li>
        {% endif %}
    </ul>
</nav>
    <!-- * Este bloque de contenido mostrará el resto de páginas de la aplicación, enmarcadas en el bloque llamado 'contenido'-->
    {% block contenido %}
    {% endblock %}
</body>
</html>