<!-- * Esto indica que heredará de base.html el contenido que tenga -->
{% extends 'base.html' %}
{% block contenido %}
<body>
    <h1>Registro</h1>
    {{ error }} <!-- Este error viene de views.py -->
    
    <!-- Este formulario viene de views.py -->
<form action="/signup/" method="POST">
    {% csrf_token %} <!-- Este token es para evitar ataques de tipo CSRF -->
    
    {{ form.as_p }} <!-- Esta es la variable que incluye el formulario de creación de usuario. El as_p mete todas las etiquetas del formulario en una etiqueta p, para que se vea mejor el formulario -->
    <button>
        Registrar
    </button>
</form>
</body>
{% endblock %}
</html>