<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registro</h1>
    <!-- Este formulario viene de views.py -->
<form action="/signup/" method="POST">
    {% csrf_token %} <!-- Este token es para evitar ataques de tipo CSRF -->
    
    {{ form.as_p }} <!-- El .as_p mete todas las etiquetas del formulario en una etiqueta p, para que se vea mejor el formulario -->
    <button>
        Registrar
    </button>
</form>
</body>
</html>