{% extends 'base.html' %}
{% block contenido %}
<h1>Tareas pendientes</h1>
<ul>
    {% for tarea in tareas %}
    <li>
        <!-- El detalle de la tarea tiene como primer parámetro la url a la que va, y el segundo parámetro es tarea.id. Nótese que no se llama igual que el parámetro de la función detalleTarea, sino que tenemos que poner obligatoriamente .id, ya que es el atributo id de la tarea en la base de datos-->
        <a href="{% url 'detalleTarea' tarea.id %}">
            {% if tarea.importante %}
            <strong>IMPORTANTE</strong>
            <br>
            {% endif %}
            <strong>{{ tarea.titulo }}</strong> - {{ tarea.descripcion }}.
            <p>{{tarea.fechaCompletado|date:'j - M - Y'}}</p> <!-- En el caso de que la fecha esté completada, nos muestra la fecha en el formato siguiente: dia - Mes - año-->
    </li>
    </a>
    {% endfor %}
</ul>
{% endblock %}

</html>